# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Data Science Tools
- arithmetic expression
- convert min to hour

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

|Data Science Tools|
|------------------|
| Python|
| R|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [3]:
result=(3*4)+5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [4]:
result = 200/60
print(result)

3.3333333333333335

## Author
Ben